/* Navbar */

.navbar-nav a {
    font-size: 18px;
}


/* Card image  */

.card-img {
    filter: blur(3px);
    /* -webkit-filter: blur(8px); */
}

.card-title-hm,
.card-text-hm {
    color: honeydew;
}